*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
#fondo{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/fondo.jpg");
    background-repeat: repeat;
    z-index: -1;
}
body{
    padding-top: 5.7em;
    height: 1000px;
}
header{
    position: fixed;
    top:0;
    left: 12.5%;
    height: 90px;
    width: 75%;
    margin: auto;
    background-color: rgba(212, 61, 43,1);
    z-index: 1002;
    opacity: .9;
    border-radius: 0 0 6px 6px;
}
header > img {
    width: 280px;
    opacity: .8;
    display: inline-block;
    border-radius: 0 0 0 6px;
}
header > p {
    color: white;
    position: absolute;
    left: 410px;
    top: 50px;
    margin-bottom: 2em;
    font-weight: bold;
    display: none;
}
.control{
    position: absolute;
    top:150px;
    left: 46%;
    border: solid 4px #dd3333;
    border-radius: 50%;
    background-color: #dd3333;
    text-align: center;
    width: 80px;
    height: 80px;
    padding: 1.5em;
    padding-left: 1.7em;
}
.control:hover{
    cursor: pointer;
}
.play{
    content: '';
    width: 0;
    height: 0;
    border-width: 12px 0 12px 18px;
    border-style: solid;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 5px;
    margin:auto;
    color: white;
}
.pause{
    content: '';
    width: 6px;
    height: 22px;
    margin:auto;
    box-shadow: inset 0 0 0 32px, 12px 0 0 0;
    border-radius: 5px;
    margin-right: 1.2em;
    color: white;
}
header > .control{
    border: solid 4px rgba(255,255,255,.8);
    top:35px;
    left: 350px;
    text-align: center;
    width: 40px;
    height: 40px;
    padding: .5em;
    padding-left: .7em;
    display: none;
}
header > .control > .play{
        border-width: 7px 0 7px 10px;
        border-radius: 0;
}
header > .control > .pause{
    width: 5px;
    height: 15px;
    margin-left: -3px;
}
.main-player{
    width: 75%;
    min-height: 424px;
    margin: auto;
    position: relative;
    vertical-align: baseline;
    overflow: hidden;
}
.pronto{
    width: 75%;
    margin: auto;
    padding: 4em;
    padding-top: 1em;
    background-color: rgba(0, 153, 204,.8);
    text-align: center;
    border-radius: 5px;
    margin-top: 1em;
}
.pronto a img{
    width: 200px;
    display: inline-block;
}
.pronto > p{
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 700;
}
.infoRadio{
    text-align: center;
    background-color: rgba(245, 159, 36,.8);
    float: left;
    width: 50%;
    height: 424px;
    border-radius: 4px 0 0 4px;
}
.muypronto{
   color:white;
   top: 0;
   left: 300px;
   font-size: 16px;
    margin-bottom: 1em;
}
.programa{
    font-family: lato_italic;
    font-size: 42px;
    margin-left: 30px;
    margin-right: 30px;
    max-height: 112px;
    line-height: 56px;
    min-height: 62px;
    color: #fff;
}
.descripcion{
    font-size: 1.1em;
    line-height: 19px;
    color: #fff;
    margin-bottom: 65px;
    padding: 0 .5em 0 .5em;
}
.subinfo{
    position: relative;
    margin: auto;
    padding-top: 38px;
    padding-bottom: 34px;
    border-radius: 4px;
    background-color: rgba(0,0,0,.2);
    text-align: center;
}
.live{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: -15px;
    width: 80px;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    border-radius: 4px;
    background-color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}
.hora{
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
}
.imagenRadio{
    width: 50%;
    height: 424px;
    border-radius: 0 4px 4px 0;
    background-image: url("../img/estudio-de-radio.jpg");
    background-size: cover;
    float: left;
}
#pubIzquierda{
	position:fixed;
	left:0;
    top:0;
	width: 12.2%;
    text-align: center;
}
#pubDerecha{
	position:fixed;
	right:0;
    top:0;
	width: 12.2%;
    text-align: center;
}
.leyenda{
    width: 100%;
}
/********************************************************/
.MicroClips{
    background-color: rgba(245, 245, 240,.8);
    width: 75%;
    margin: auto;
    margin-top: 1em;
    padding: 3em;
    text-align: center;
    border-radius: 4px;
}
.MicroClips > h2{
    margin-bottom: 1em;
    color: #1c4758;
    font-weight: 400;
}

footer{
    width: 75%;
    margin: auto;
    margin-top: 1em;
    text-align: center;
    background-color: rgba(255,255,255,.9);
    padding-bottom: 1em;
}
footer a{
    color: #d23f2f;
}

/*******************************************************/
@media (max-width: 900px) {
    #pubDerecha,#pubIzquierda{
        display: none;
    } 
    .main-player,.MicroClips,.pronto,header{
        width: 100%;
    }
    header{
        left: 0;
    }
    .pronto{
        padding: 1em;
    }
    .pronto > p{
        font-size: 16px;
    }
    footer{
        width: 100%;
    }
}
@media (max-width: 700px) {
    .infoRadio,.imagenRadio{
        width: 100%;
        height: 400px;
    }
    .control{
        top: 365px;
        left: 38%;
    }
    header > img{
     width: 200px;
    margin-top: 25px;
    }
    header > h3 {
        width: 100%;
        text-align: center;
        font-size: 14px;
        left: 0;
    }
    header > .control {
      left: 220px;
    }
    #menulive{
        display: none !important;
    }
    .programa{
        font-size: 32px;
    }
    .pronto a img{
        width: 120px;
    }
    .MicroClips{
        padding: 0;
    }
    .MicroClips > h2{
        padding-top: .5em;
    }
}