@font-face {
  font-family: 'icons';
  src: url(icons.woff2) format('woff2');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
.audioObj{
    width: 300px;
    height: 250px;
    margin: .5em;
    background-color: darkgrey;
    position: relative;
    border-radius: 7px;
}
.tituloArticulo{
    line-height: 3;
    text-align: justify;
    margin-left: .5em;
}
.leyendaArticulo{
    text-align: left;
    line-height: 16;
    color: #134950;
    margin-left: .5em;
    font-weight: 600;
}
.player-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 38px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    background-color: rgba(0,0,0,.8);
}
.player-btn {
    display: table-cell;
    padding-top: 10px;
}
.player-options {
    display: table;
}
.player-btn.play-pause {
    width: 28px;
    display: inline-block;
    padding-right: 14px;
}
.player-btn .icon-size {
    height: 26px;
    cursor: pointer;
    color: #fff;
}
[class*=" icon-"], [class^=icon-] {
    font-family: icons!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.player-progress-container {
    display: table-cell;
    height: 20px;
    vertical-align: middle;
    position: relative;
    width: 100%;
}
.player-progress-container .player-progress {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #6a6b6c;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border-radius: 40px;
}
.player-progress-value {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #e6442f;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border-radius: 40px;
}
.player-btn.volume {
    padding-left: 18px;
}
.player-btn.volume .icon-size {
    width: 20px;
}
.player-btn.download {
    padding-left: 13px;
}
.player-progress-value:after {
    position: absolute;
    top: -6px;
    right: -8px;
    content: '';
    width: 15px;
    height: 15px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    background-color: #e6442f;
}