.davMenu-toggle{
    display: none;
}
#davsecRedes{
    margin-top: 1em;
    width: 150px;
    float: right;
    text-align: center;
}
#davsecRedes > h1{
    font-size: 16px;
    text-align: center;
    color: white;
    font-weight: 100;
    text-decoration-line: underline;
    margin-bottom: .5em;
}
.davul{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: transparent;
    list-style-type: none;
}

.davli{
    height: 40px;
    width: 40px;
    margin: auto;
    margin-left: 0.5em;
    text-align: center;
    background-size: cover;
    border-radius: 7px;
    overflow: hidden;
    display: inline-block;
}

.davimg{
    height: 25px !important;
    width: 25px !important;
    border-radius: 7px !important;
}
@media (max-width: 700px) {
    #davsecRedes {
        background-color: white;
        margin-top: 5.6em !important;
        margin-right: 1em;
        width: 180px;
        border-radius: 5px;
        display: none;
    }
    #davsecRedes > h1{
        color: black;
    }
    .davli {
        margin-left: .8em;
    }
    .davMenu-toggle {
        height: 32px;
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        width: 20px;
        margin: 0;
        margin-top: 3em;
        margin-right: 5em;
    }
    .davMenu-toggle i,
    .davMenu-toggle i:after,
    .davMenu-toggle i:before {
        display: block;
        position: absolute;
        height: 3px;
        width: 40px;
        background: white;
        border-radius: 2px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
    .davMenu-toggle i:after,
    .davMenu-toggle i:before {
        content: '';
        left: 0;
        top: 0;
        margin-left: 0;
    }
    .davMenu-toggle i:after {
        top: -32px;
    }
    .davMenu-toggle i:before {
        top: -16px;
    }
    .davMenu-toggle i {
        left: 0;
        top: 0;
        margin-left: 2.5em;
        margin-top: 1em;
    }
    .davMenu-toggle.open i:after {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: -22px;
    }
    .davMenu-toggle.open i:before {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: -22px;
    }
}